@font-face {
    font-family:"Norse";
    src: url("fonts/Norse-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --accentColor: rgba(102, 54, 54, 0.836);
    --borderColor: rgb(190, 183, 183);
    --validBorder:rgb(44, 172, 44);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}
a {
    text-decoration: none;
}

body {
    display:flex;
    font-family: 'Lato', sans-serif;
}
span {
    font-style: italic;
    color:white;
    background-color: var(--accentColor);
    border-radius: 5px;
    box-sizing: content-box;
    padding:1px 6px;
}

.logo {
    height:100vh;
    background-image: url("images/grunge-gdfab58fa3_1920.jpg");
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex:1;
    padding:20px;

}

.logo>p {
    font-family: "Norse";
    font-size: 120px;
    color:white;
}
.logo>img {
    height:110px;
}

.container {
  /* padding:2vw; */
  display:flex;
  flex-direction: column;
  gap:5vh;
}

.container p {
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
    width:500px;
    margin: 2vh 2vw;
}

form {
    display:flex;
    flex-direction: column;
    gap:3vh;
}

fieldset {
    display:flex;
    flex-wrap: wrap;
    border:none;
    justify-content: flex-start;
    gap:30px;
    padding-bottom:3vh;
    box-shadow: 0px 14px 19px -14px rgba(66, 68, 90);
}

.container label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    display:flex;
    flex-direction: column;
    width:40%;
}
#bottom {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}
#logIn{
    display:inline-block;
    transition: .3s all;
    width:fit-content;
}
#logIn:hover, button:hover {
    transform: rotate(4deg) scale(1.1);
    box-shadow: 8px 8px 16px -6px rgba(66, 68, 90, 1);
}

button[type=submit] {
    font-size:1.5rem;
    width:fit-content;
    padding:5px 20px;
    background-color: var(--accentColor);
    color:white;
    transition: .3s all;
    margin-left: 2vw;
}

button,input {
    border:1px solid var(--borderColor);
}
input {
    appearance: none;
    height: 25px;
    margin-left: 2vw;
    transition: .3s all;
}

input:focus {
    outline: none;
    border:2px solid rgb(110, 108, 108);
}

input:user-invalid, input[type=password] {
    border: 2px solid rgb(184, 95, 95);
    background-color: rgb(255, 255, 255);
}
label {
    position:relative;
}

.description {
    position:absolute;
    top:5px;
    left:20px;
    background-color: transparent;
    color:black;
    font-weight: 600;
    transition: 0.3s all;
}

.warning {
    background-color: transparent;
    color:red;
    position:relative;
    left:20px;
    transition: .3s all;
    font-weight: 400;
    top:3px;
    display:none;
}
input:user-invalid + .warning {
    display:inline-block;
}

input:valid + .description,
input:focus + .description {
    color:grey;
    top:-15px;
}

input:valid {
    border:var(--validBorder);
    box-shadow: 0px 0px 10px  var(--validBorder);
}
