@font-face {
    font-family:"Norse";
    src: url("fonts/Norse-Bold.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');

:root {
    --accentColor: rgba(102, 54, 54, 0.836);
}


* {
    box-sizing: border-box;
    margin: 0;
    padding:0;
}

body {
    display:flex;
    font-family: 'Lato', sans-serif;
}
span {
    font-style: italic;
    color:white;
    background-color: var(--accentColor);
    border-radius: 5px;
    box-sizing: content-box;
    padding:1px 6px;
}

.logo {
    height:100vh;
    background-image: url("images/grunge-gdfab58fa3_1920.jpg");
    display:flex;
    justify-content:center;
    align-items: center;
    gap:20px;
    flex:1;
    padding:20px;

}

.logo>p {
    font-family: "Norse";
    font-size: 120px;
    color:white;
}
.logo>img {
    height:110px;
}

.container {
  padding:2vw;
  display:flex;
  flex-direction: column;
  gap:50px;
}

.container p {
    font-size: 1.5rem;
    font-weight: bold;
    color:black;
    width:600px;
}
fieldset {
    display:flex;
    flex-wrap: wrap;
    border:none;
    justify-content: flex-start;
    gap:30px;
}

.container label {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
    display:flex;
    flex-direction: column;
    width:40%;
}
#bottom {
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 800;
}